
html {
    background: #f2f3f7
}


/* 头部 */
.header {
    height: 90px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    background-color: white;
}

.header .layui-nav .layui-nav-item{margin: 0 10px; }
.header .logo{
    display: inline-block;
}
.header .logo img{
    height: 90px;
}

.header .layui-nav{display: inline-block;}
.header .layui-nav .layui-nav-item[mobile]{display: none;}

.layui-nav .layui-nav-item a{color: #333}
.layui-nav .layui-nav-item{line-height: 80px}
.layui-nav .layui-nav-item a:hover{color: #ff5252}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    height: 3px;
    background-color: #ff5252;
}

.layui-bg-white {
    background-color: white!important;
    color: black!important;
    display: inline-block;
}


.tool-card > .layui-card-header > .card-tools {
    position: absolute;
    right:0px;
    top: 0px;
    padding-right: 10px;
}
.tool-card > .layui-card-header > .card-tools i {
    font-size: 20px;
}

/*** piccarousel start *****/
.poster-main {
    width: 1140px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

.poster-main a, .poster-main img { display: block; }

.poster-main .poster-list {
    width: 1140px;
    height: 500px;
}

.poster-main .poster-list .poster-item {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

.poster-main .poster-btn {
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;
}

.poster-main .poster-prev-btn {
    left: 0;
}

.poster-main .poster-next-btn {
    right: 0;
}
/*** piccarousel end *****/


.news-title{
    width: 300px;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}

/*** 域名box start ***/
.domain-list {
    position: relative;
    margin: 5px;
    height: 80px;
    border: 1px solid #f2f3f7;
}
.domain-list:hover {
    border: 1px solid #bbb;
    /*margin: 0px;
    height: 90px;
    animation: domain_list_ani 300ms;
    -webkit-animation: domain_list_ani 300ms;*/ /* Safari 与 Chrome */
}

.domain-list-name {
    height: 100%;
    font-size: 16px;
    /*color: #0099CC;*/
    overflow: auto;
    word-break:break-all;
    display : block;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;"
}
.domain-list-price {
    position: absolute;
    top:0px;
    right: 0px;
    color:#ff5252;
    padding: 5px 10px;
}

.domain-list-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color:white;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
    text-align: center;
}

.domain-list-description:hover {
    height:100%;
    background-color: rgba(0, 0, 0, .8);
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;"

    animation: domain_des 300ms;
    -webkit-animation: domain_des 300ms; /* Safari 与 Chrome */
}

@keyframes domain_des
{
    from {
        height: 18px;
        background-color: rgba(0, 0, 0, .3);
    }
    to {
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
}

@-webkit-keyframes domain_des /* Safari 与 Chrome */
{
    from {
        height: 18px;
        background-color: rgba(0, 0, 0, .3);
    }
    to {
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
}
@keyframes domain_list_ani
{
    from {
        margin: 5px;
        height: 80px;
    }
    to {
        margin: 0px;
        height: 90px;
    }
}

@-webkit-keyframes domain_list_ani /* Safari 与 Chrome */
{
    from {
        margin: 5px;
        height: 80px;
    }
    to {
        margin: 0px;
        height: 90px;
    }
}
/*** 域名box end ***/


/*** footer start***/
.footer{
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 300;
}
/*** footer end***/