

html {background: #f2f2f2}
::-webkit-input-placeholder{color: #999}

/* 布局 */
.site-menu, .site-content{vertical-align: top; font-size: 14px;}
.site-content{min-height: 600px; padding: 20px 0 10px 20px;}
.modal {padding: 20px 10px}
.text-center {text-align:center}
.text-left {text-align:left}
.text-right {text-align:right}
/* 头部 */
.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.logo {
    position: absolute;
    left: 0;
    top: 9px;
}

.logo img {
    width: 42px;
    height: 42px;
}


.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; }
.header .layui-nav .layui-nav-item[mobile]{display: none;}

/*管理菜单*/

.site-menu{border-right: 1px solid #eee;}
.site-menu .layui-nav-tree{width:100%;}

/* 文档 */
/*
.site-tree{border-right: 1px solid #eee; }
.site-tree .layui-tree{line-height: 32px;}
.site-tree .layui-tree h2 a.menu{font-size: 14px;}
.site-tree .layui-tree li i{position: relative; font-size: 22px; color: #000}
.site-tree .layui-tree li a cite{padding: 0 8px;}
.site-tree .layui-tree .site-tree-noicon a cite{padding-left: 15px;}
.site-tree .layui-tree li a em{font-size: 12px; color: #bbb; padding-right: 5px; font-style: normal;}
.site-tree .layui-tree li h2{line-height: 36px; border-left: 5px solid #009E94; margin: 15px 0 5px; padding: 0 10px; background-color: #f2f2f2;}
.site-tree .layui-tree li ul{margin-left: 27px; line-height: 28px;}
.site-tree .layui-tree li ul a,
.site-tree .layui-tree li ul a i{color: #777;}
.site-tree .layui-tree li ul a:hover{color: #333;}
.site-tree .layui-tree li ul li{margin-left: 25px; overflow: visible; list-style-type: disc; !*list-style-position: inside;*!}
.site-tree .layui-tree li ul li cite,
.site-tree .layui-tree .site-tree-noicon ul li cite{padding-left: 0;}

.site-tree .layui-tree .layui-this a{color: #01AAED;}
.site-tree .layui-tree .layui-this .layui-icon{color: #01AAED;}

.site-fix .site-tree{position: fixed; top: 0; bottom: 0; z-index: 666; min-height: 0; overflow: auto;  background-color: #fff;}
.site-fix .site-content{margin-left: 220px;}
.site-fix-footer .site-tree{!*margin-bottom: 120px;*!}


.site-title{ margin: 30px 0 20px;}
.site-title fieldset{border: none; padding: 0; border-top: 1px solid #eee;}
.site-title fieldset legend{margin-left: 20px;  padding: 0 10px; font-size: 22px; font-weight: 300;}

.site-text a{color: #01AAED;}
.site-h1{margin-bottom: 20px; line-height: 60px; padding-bottom: 10px; color: #393D49; border-bottom: 1px solid #eee;  font-size: 28px; font-weight: 300;}
.site-h1 .layui-icon{position: relative; top: 5px; font-size: 35px; margin-right: 10px;}
.site-text{position:relative;}
.site-text p{margin-bottom: 10px;  line-height:22px;}
.site-text em{padding: 0 3px; font-weight: 500; font-style: italic; color: #666;}
.site-text code{margin:0 5px; padding: 3px 10px; border: 1px solid #e2e2e2; background-color: #fbfbfb; color: #666; border-radius: 2px;}

.site-table{width: 100%; margin: 10px 0;}
.site-table thead{background-color:#f2f2f2; }
.site-table th,
.site-table td{padding: 6px 15px; min-height: 20px; line-height: 20px; border:1px solid #ddd; font-size: 14px; font-weight: 400;}
.site-table tr:nth-child(even){background: #fbfbfb;}

.site-block{padding: 20px; border: 1px solid #eee;}
.site-block .layui-form{margin-right: 200px;}
*/

/* login */
.login {
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    border: 1px solid #ebeef5;
    margin-top:20%;
    margin-bottom: 20%;
    padding: 20px;
}
.login-label {
    width: 60px;
}
.login-input-block {
    margin-left: 90px;
}


/* 底部 */
.footer{padding: 30px 0; line-height: 30px; text-align: center; color: #666; font-weight: 300;}
body .layui-layout-admin .footer-demo{height: 50px; padding: 5px 0;}
.footer a{padding: 0 5px;}
.site-union{margin-top: 10px; color: #999;}
.site-union>*{display: inline-block; vertical-align: middle;}
.site-union a[upyun] img{width: 80px;}
.site-union span{position: relative; top: 3px;}
.site-union span a{padding: 0; display: inline; color: #999;}
.site-union span a:hover{text-decoration: underline;}

.footer-demo p{display: inline-block; vertical-align: middle; height: 50px; padding-right: 10px;}
.footer-demo .site-union{position: relative; top: -9px;}

/* 分页靠右 */
.layui-table-page>div {
    text-align: center;
}
/*主题*/
.theme-img {
    padding: 2px;
    margin: 5px;
    border: 3px solid #eee;
}
.theme-img:hover {
    border: 3px solid #1E9FFF;
}
.theme-checked {
    border: 3px solid #1E9FFF;
}
.modal-tpl {
    display: none;
}

/* 适配多设备 */
@media screen and (max-width: 750px) {
    .layui-main{width: auto;margin: 0 10px;}
    .logo,
    .header-demo .logo{left: 10px;}
    .component{display: none}

    .header .layui-nav-child{left: auto; right: 0;}
    .site-demo-overflow{overflow: auto;}

    .site-nav-layim{display: none !important;}
    .header .layui-nav .layui-nav-item{margin: 0;}
    .header .layui-nav .layui-nav-item a{padding: 0 20px;}
    .header .layui-nav .layui-nav-item[pc]{display: none;}
    .header .layui-nav .layui-nav-item[mobile]{display: inline-block;}
    .site-banner{height: 300px;}
    .site-banner-bg{background-size: cover;}
    /*.site-zfj{height: 100px; padding-top: 5px;}
    .site-zfj i{top: 10px; width: 100px; height: 100px; margin-left: -50px; font-size: 100px;}
    .site-desc{background-size: 70%; margin: 0;}
    .site-desc .web-font-desc{padding-top: 20px; font-size: 30px;}
    .site-desc cite{display: none;}
    .site-download{margin-top: 0; }
    .site-download a{height: 40px; line-height: 40px; padding: 0 25px 0 60px; border-radius: 30px; color: #fff; font-size: 16px;}
    .site-download a cite{left: 20px;}*/
    .site-banner-other{bottom: 10px;}

    .site-idea{margin: 20px 0;}
    .site-idea li{margin: 0 0 20px 0; width: 100%; height: auto; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
    .site-hengfu img{max-width: 100%}

    .site-block .layui-form{margin-right: 0;}

    .layui-layer-dir{display: none;}
    .site-tree{position: fixed; top: 0; bottom: 0; min-height: 0; overflow: auto; z-index: 1000; left: -260px; background-color: #fff;  transition: all .3s; -webkit-transition: all .3s;}
    .site-content{width: 100%; padding: 0; overflow: auto;}
    .site-content img{max-width: 100%;}
    .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
    .site-home .site-tree-mobile{display: none!important;}
    .site-mobile .site-tree-mobile{display: none !important;}
    .site-mobile .site-tree{left: 0;}
    .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.8); z-index: 999;}
    .site-tree-mobile i{font-size: 20px;}
    .layui-code-view{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

    .layui-layout-admin .layui-side{position: fixed; top: 0; left: -260px; transition: all .3s; -webkit-transition: all .3s; z-index: 10000;}
    .layui-body{position: static; bottom: 0; left: 0;}
    .site-mobile .layui-side{left: 0;}
    .site-mobile .layui-side-child{top: 50%; left: 200px; height: 300px; margin-top: -100px;}

    body .layui-layout-admin .footer-demo{position: static; height: auto; line-height: 30px;}
    .footer-demo p{height: auto;}

    /*.site-demo-area,
    .site-demo-editor,
    .site-demo-result,
    .site-demo-editor textarea,
    .site-demo-result iframe{position: static; width: 100%;}
    .site-demo-editor textarea{height: 350px;}
    .site-demo-zanzhu{display: none;}
    .site-demo-btn{bottom: auto; top: 370px;}
    .site-demo-result iframe{height: 500px;}*/

    /*.site-demo-laytpl textarea, .site-demo-laytpl div span{margin: 0;}
    .site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview{width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

    .site-demo-title{position: static; left: 0;}
    body .layui-layout-admin .site-demo{}
    .site-demo-code{position: static; height: 350px;}*/
}

/*米表*/
.card-mibiao {
    height: 200px;
    overflow: auto;
    border: 1px solid #eee;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}
.card-mibiao > .layui-card-body {
    text-align: center;
}
.card-mibiao > .layui-card-header {
    overflow: hidden;
}
.card-mibiao:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.tool-card > .layui-card-header > .card-tools {
    position: absolute;
    right:0px;
    top: 0px;
    padding-right: 10px;
}
.tool-card > .layui-card-header > .card-tools i {
    font-size: 20px;
}

.index-block {
    margin: 30px 10%;
    width: 80%;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}

.index-block:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

@-webkit-keyframes site-anim-closeup{ /* 特写 */
    from {-webkit-transform: translate3d(0, 0, 0) scale(1);  opacity: 1;}
    to { -webkit-transform: translate3d(0, 400px, 0) scale(2);  opacity: 0.5;}
}
@keyframes site-anim-closeup{
    from {transform: translate3d(0, 0, 0) scale(1); opacity: 1;}
    to {transform: translate3d(0, 400px, 0) scale(2); opacity: 0.5;}
}
.site-out-up{-webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: site-anim-closeup; animation-name: site-anim-closeup; overflow: hidden;}


