@charset "utf-8";
img {
    vertical-align: middle;
}

/*--- basic----*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    clear: both;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover, a:active {
    color: #04d;
    text-decoration: none;
}

img {
    border: 0;
}

/*---content---*/
body {
    font-size: 14px;
    font-family: Verdana, Arial, "", Helvetica, sans-serif;
    color: #222;
    background: #e2dbce;
    text-align: left;
    line-height: 18px;
}

.header {
    background: #e03b25;
}

.header_main {
    color: #FFF;
    font-size: 30px;
    height: 95px;
    width: 835px;
    margin: 0 auto;
}

.header_domain {
    float: left;
    margin: 35px 0 0 30px;
    line-height: 35px;
    display: inline;
}

.line {
    background: #222;
    height: 2px;
}

.container {
    width: 785px;
    margin: 0 auto;
    padding: 25px;
    background: #FFF;
    border-left: 1px solid #d3c5af;
    border-right: 1px solid #d3c5af;
    border-bottom: 1px solid #d3c5af;
}

.am_dm {
    clear: both;
    position: relative;
    margin-bottom: 25px;
}

.am_title {
    color: #FFFFFF;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-left: -42px;
    position: relative;
    text-align: center;
    width: 59px;
    z-index: 2;
}

.am_dot {
    display: block;
    height: 32px;
    left: -42px;
    position: relative;
    top: -22px;
    width: 17px;
    z-index: 1;
}

.am_title2 {
    background: #e03b25;
    color: #FFFFFF;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-left: -42px;
    position: relative;
    text-align: center;
    width: 175px;
    z-index: 2;
}

.am_dm h1 {
    color: #e03b25;
    font-size: 35px;
    margin-top: -70px;
    margin-left: 25px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

.am_font {
    line-height: 22px;
    height: 22px;
    margin-left: 30px;
}

.am_box {
    border: 1px solid #FFD376;
    background: #fffbe5;
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 30px;
}

.am_dm dd {
    line-height: 30px;
}

.line22 {
    border-bottom: 1px dashed #DEDEDE;
}

.oa_title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.footer {
    width: 785px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

/*---出售页2015.10.21---*/
.chushouye {
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    padding: 14px 20px;
    margin-top: 30px;
    font-size: 14px;
    width: 60%;
    position: absolute;
    top: 35px;
    right: 5px;
}

.chushouye span {
    margin-right: 20px;
}

.chushouye .wt {
    text-align: center;
    margin-top: 14px;
}

.chushouye .bnt {
    background-color: #ffa90f;
    border: 1px solid #fe8101;
    color: white;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
}

.chushouye .bnt:hover {
    background-color: #ffffff;
    border: 1px solid #cacaca;
    color: #444;
}

img {
    vertical-align: middle;
}