{% extends 'console.twig' %}

{% block console %}
    <!-- 数据查询条件 start -->
    <form class="layui-form">
        <div class="layui-form-item layui-col-space10 layui-row">
            <div class="layui-col-md3">
                <input type="text" name="kw" class="layui-input" placeholder="关键词">
            </div>
            <div class="layui-col-md3">
                <input type="text" class="layui-input" name="date_time" id="dateTime" placeholder="请选择日期">
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn" lay-filter="btnSearch" lay-submit>查询</button>
            </div>
        </div>
    </form>
    <!-- 数据查询条件 end -->

    <!-- 数据表格 start -->
    <div class="layui-card">
        <div class="layui-card-header">域名每天的访问统计</div>
        <div class="layui-card-body">
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
    <!-- 数据表格 end -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        layui.use(['layer', 'element', 'form', 'table', 'utils', 'laydate'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var utils = layui.utils;

            laydate.render({
                elem: '#dateTime'
                , max: '{{ currDay }}'
                , format: 'yyyy/MM/dd'
                , range: true
            });


            //数据表格处理
            var table = layui.table;
            table.render(layui.$.extend({
                elem: '#dataTable'
                , url: '{{ path_for('api.statistic.day') }}'
                , cols: [[
                    {field: 'domain_name', title: '域名', sort: true}
                    , {field: 'pv', title: 'PV', sort: true}
                    , {field: 'ip', title: 'IP', sort: true}
                    , {field: 'bot', title: '搜索引擎', sort: true}
                    , {field: 'user', title: '用户', sort: true}
                    , {field: 'domestic', title: '国内IP', sort: true}
                    , {field: 'overseas', title: '海外IP', sort: true}
                    , {field: 'real_clicks', title: '真实用户(beta)', sort: true}
                    , {field: 'day', title: '日期', sort: true}
                ]]
            }, utils.tableOptions));

            //监听查询条件
            form.on('submit(btnSearch)', function (data) {
                table.reload('dataTable', {
                    page: {curr: 1}
                    , where: data.field
                });
                return false;
            });

            //监听排序
            table.on('sort(dataTable)', function (obj) {
                table.reload('dataTable', {
                    initSort: obj
                    , where: {'order_name': obj.field, 'order_type': obj.type}
                });
            });


        });
    </script>
{% endblock %}