{% extends "layout.twig" %}

{% block container %}
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md5 layui-col-md-offset3">
                <div class="login-form login">
                    <form method="post" action="{{ path_for('register') }}" class="layui-form">
                        <div class="title text-center">
                            <h2>趣米 - 注册</h2>
                        </div>
                        <hr/>
                        <div>
                            <div class="layui-form-item">
                                <label for="email" class="layui-form-label login-label">用户邮箱</label>
                                <div class="layui-input-block login-input-block">
                                    <input type="email" class="layui-input" id="email" required lay-verify="email" name="email" placeholder="Email"  autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label login-label">验证码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="captcha" lay-verify="captcha" class="layui-input"  autocomplete="off">
                                    </div>
                                    <div class="layui-input-inline" style="width: 106px" id="captchaImg">
                                        {{ captchaImg|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="password" class="layui-form-label login-label">密码</label>
                                <div class="layui-input-block login-input-block">
                                    <input type="password" class="layui-input" id="password" lay-verify="passwd" name="password" placeholder="Password"  autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="repassword" class="layui-form-label login-label">确认密码</label>
                                <div class="layui-input-block login-input-block">
                                    <input type="password" class="layui-input" id="repassword" lay-verify="passwd" name="repassword" placeholder="Password"  autocomplete="off">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block login-input-block text-right">
                                    <button class="layui-btn" lay-submit lay-filter="submit" style="float: left">注册</button>
                                    <a href="{{ path_for('login') }}" style="line-height: 38px;"><i class="fa fa-external-link"></i> 已有账号？点击登录</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['layer', 'element', 'form', 'utils'], function() {
            var layer = layui.layer;
            var form = layui.form;
            var utils = layui.utils;
            var $ = layui.$
            var API = {
                register : '{{ path_for('api.login.register') }}',
            }
            //监听提交
            form.on('submit(submit)', function(data){
                utils.ajax.post(API.register, data.field, function (res) {
                    layer.alert('注册成功！', function(index){
                        location.href = '/login';
                    });
                }, function (res) {
                    $('#captchaImg').find('img').trigger('click');
                    layer.alert(res.errMsg, {icon: 2});
                })
                return false;
            });
            //自定义验证规则
            form.verify(utils.getVerifyByField(['captcha', 'passwd']));
        });
    </script>
{% endblock %}
