<html>
<head>
    <title>My Love</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://www.17sucai.com/preview/1/2015-11-16/led/js/raphael.js"></script>
    <script src="http://798.cx/statics/js/classyled.js"></script>
<body>
<div class="led1 autosize"></div>
</body>
<script>

    $('.led1').ClassyLED({
        type: 'countdown',
        format: '000:hh:mm:ss',
        hourFormat: 12,
        countTo: '2018:08:18 11:11:00',
        color: 'red',
        backgroundColor: '',
        rounded: 3,
        fontType: 2,
        size: 10
    });

</script>
</html>